$main-text-color: white;
$main-bg-color: rgb(50, 28, 62);
$main-font-size: 16px;
$main-font-family: arial, helvetica, 'sans-serif';

body {
    font-family: $main-font-family;
    background-color: $main-bg-color;
    color: $main-text-color;
}